<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Tipografia Roboto-->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">

    <!-- Libreria Fontawesome-->
    <script src="https://kit.fontawesome.com/439c181295.js" crossorigin="anonymous"></script>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" />

    <!-- Estilos propios-->
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/colors.css" rel="stylesheet">
    <link href="/css/mediaQueryStyle.css" rel="stylesheet">

    <title>Mercado Libre</title>
</head>
    <header>
        <div class="logo-container">
            <div class="logo-bar">
                <div class="logo">
                    <a href="/"> <img src="/images/logo-mercado-liebre.svg" alt="logo"></a>
                </div>
                <div class="search-button-container">
                    <div class="search-container">
                        <input type="text" placeholder="Buscar productos,marcas " class="searchNav">
                        <button class="headerButton"> <i class="fas fa-search"></i></button>
                    </div>
                </div>
            </div>
            <div class="card-container">
                <h2 class="card-title"> <i class="fas fa-hand-holding-usd"></i> compra en cuotas y sin tarjeta de credito.
                 </h2>
            </div>
        </div>

        <nav class="menu-container">
            <ul>
                <li>Ofertas</li>
                <li>Tienda Oficiales</li>
                <li>Vender</li>
                <li class="berma">Ayuda</li>
            </ul>
            <ul>
                <li> <a href="/register"> Crea tu cuenta <i class="fas fa-id-card"></i> </a> </li>
                <li> <a href="/login"> ingresa <i class="fas fa-sign-in-alt"></i> </a> </li>
                <li> Mis compras <i class="fas fa-shopping-basket"></i></li>
            </ul>
        </nav>

        <div class="burger-container">
            <div class="burger-menu">
                <i class="fas fa-bars"> </i>
            </div>
        </div>


    </header>
<body>

    <main>
        <img src="/images/img-home-banner.jpg" class="mainBanner" alt="homeBanner">

<section class="lastViewContainer"> 

        <h2 class="Headlines">Basado en tu ultima vista</h2>

    <div class="ViewsProducts">

        <div class="ListLastView">
                <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera">
                    <div class="productsDetails">
                        <i class="fa-solid fa-truck"></i>
                        <div class="price"> $6.770 </div>
                        <div class="discounts"> 40% OFF </div>
                    <div class="description"> Cafetera Moulinex</div>
                </div>
            </div>

        <div class="ListLastView">
                <img src="/images/img-macbook-pro-2019.jpg" alt="Computador">
                    <div class="productsDetails">
                        <i class="fa-solid fa-truck"></i>
                        <div class="price"> $2300.000 </div>
                        <div class="discounts"> 20% OFF </div>
                    <div class="description"> Macbook Pro 2019</div>
                </div>
            </div>

        <div class="ListLastView">
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="Celular">
                    <div class="productsDetails">
                        <i class="fa-solid fa-truck"></i>
                        <div class="price"> $70.500</div>
                        <div class="discounts"> 10% OFF</div>
                    <div class="description"> Samsung Galaxy S10</div>
                </div>
            </div>

        <div class="ListLastView">
                <img src="/images/img-tv-samsung-smart.jpg" alt="Televisor">
                    <div class="productsDetails">
                        <i class="fa-solid fa-truck"></i>
                        <div class="price"> $23.200 </div>
                        <div class="discounts"> 5% OFF </div>
                    <div class="description"> smartTv Samsung 43"</div>
                </div>
            </div>
    </div>

</section>

    <section class="offersContainer"> 

        <h2 class="Headlines">Ofertas</h2>

    <div class="ViewsProducts">

        <div class="ListOffers">
                <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera">
                    <div class="productsDetails">
                        <i class="fa-solid fa-truck"></i>
                        <div class="price"> $6.770 </div>
                        <div class="discounts"> 40% OFF </div>
                    <div class="description"> Cafetera Moulinex</div>
                </div>
        </div>

        <div class="ListOffers">
                <img src="/images/img-macbook-pro-2019.jpg" alt="Computador">
                    <div class="productsDetails">
                        <i class="fa-solid fa-truck"></i>
                        <div class="price"> $2300.000 </div>
                        <div class="discounts"> 20% OFF </div>
                    <div class="description"> Macbook Pro 2019</div>
                </div>
        </div>

        <div class="ListOffers">
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="Celular">
                    <div class="productsDetails">
                        <i class="fa-solid fa-truck"></i>
                        <div class="price"> $70.500</div>
                        <div class="discounts"> 10% OFF</div>
                    <div class="description"> Samsung Galaxy S10</div>
                </div>
        </div>


        <div class="ListOffers">
                <img src="/images/img-tv-samsung-smart.jpg" alt="Televisor">
                    <div class="productsDetails">
                        <i class="fa-solid fa-truck"></i>
                        <div class="price"> $23.200 </div>
                        <div class="discounts"> 5% OFF </div>
                    <div class="description"> smartTv Samsung 43"</div>
                </div>   
        </div>

    </div>

</section>
    
</main>

<footer>

    <section class="footerContainer">

        <div class="footerInfo">
            <i class="fa-solid fa-credit-card"></i>
            <h4>Pagá con tarjeta o en efectivo </h4>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro! </p>
        </div>

        <div class="footerInfo">
            <i class="fa-solid fa-gift"></i>
            <h4>Envío gratis desde $ 2.500 </h4>
            <p> Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos. </p>
        </div>
            
        <div class="footerInfo">
            <i class="fa-solid fa-user-shield"></i>
            <h4>Seguridad, de principio a fin </h4>
                <p> ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,porque estás siempre protegid@.</p>
        </div>

    </section>
 Copyright © 1999-2020 MercadoLiebre S.R.L.

    </footer>

</body>

</html>