<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/loginRegister.css" rel="stylesheet">
    <link href="/css/colors.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <title>Register</title>

</head>

<body>

 <section class="formContainer">  

    <form action="localhost:3000/" method="POST">

        <h1>Registro de Usuario</h1> <br>

        <label> Datos personales</label> <br>

            <input class="formList" type="text" name="fullName" placeholder="Nombre y apellido:" maxlength="45" require> <br>
            <div id="text-Danger"> * Por favor, ingrese su nombre completo.</div>  <br>

            <input class="formList" type="text" name="userName" placeholder="NickName:"  maxlength="20" require> <br>
            <div id="text-Danger"> * Por favor, ingrese un NickName. </div> <br>

            <input class="formList" type="email" name="email" placeholder="Correo Electronico:" minlength="5" require> <br>
            <div id="text-Danger"> * Por favor, ingrese un Correo Electronico valido. </div> <br>

            <input class="formList" type="date" name="birthday" placeholder="Fecha de nacimiento:"  aria-label="Utiliza el formato DD/MM/AAAA" title="Formato DD/MM/AAAA" require> <br>
            <div id="text-Danger"> * El campo Fecha de Nacimiento necesita ser completado. </div> <br>

            <input class="formList" type="text" name="address" placeholder="Domicilio:" minlength="5" require> <br>
            <div id="text-Danger"> * El campo Domicilio necesita ser completado. </div> <br>

        <label>Perfil del usuario:</label>

            <select name="userProfile">
                <option>Comprar</option>
                <option>Vender</option>
            </select><br>
        
        <label>Categorías de interés:</label> <br>
            <input type="checkbox" name="categories" value="Electro"> Electrodomesticos<br>
            <input type="checkbox" name="categories" value="Moda"> Moda<br>
            <input type="checkbox" name="categories" value="Hogar"> Hogar<br>
            <input type="checkbox" name="categories" value="Juguetería"> Juguetería<br>
            <input type="checkbox" name="categories" value="Vida Sana"> Vida Sana<br>

        <label>Foto de usuario:</label>
            <input type="file" name="avatar" accept=".jpg,.png" multiple require> <br>
            <div id="text-Danger"> * El campo Avatar no puede estar vacio. </div> <br>

            <input class="formList" type="password" name="password" placeholder="Contraseña:" minlength="6" require> <br>
            <div id="text-Danger"> * El campo contrasenia no puede estar vacio . </div> <br>

            <input class="formList" type="password" name="passwordConfirm" placeholder="Confirmar contraseña:" require><br>

        <input class="buttonSub" type="submit" value="Enviar">
        <input class="buttonSub" type="reset" value="Borrar todos los datos">

    </form>

    <div class="middleScreen">

        <a href="/"> <img src="/images/logo-mercado-liebre.svg" alt="logo"></a>

    </div>

</section> 


</body>

</html>