<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/loginRegister.css" rel="stylesheet">
    <link href="/css/colors.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <title>Register</title>

</head>

<body>

 <section class="formContainer">  

    <form action="/register" method="POST">

        <label> Datos personales</label>

            <input class="formList" type="text" name="fullName" placeholder="Nombre y apellido:" require>  <br>
            <input class="formList" type="text" name="userName" placeholder="NickName:" require><br>
            <input class="formList" type="text" name="email" placeholder="Correo Electronico:" require><br>
            <input class="formList" type="date" name="birthday" placeholder="Fecha de nacimiento:" require><br>
            <input class="formList" type="text" name="address" placeholder="Domicilio:" require><br>

        <label>Perfil del usuario:</label>

            <select name="userProfile">
                <option>Comprar</option>
                <option>Vender</option>
            </select><br>
        
        <label>Categorías de interés:</label> <br>
            <input type="checkbox" name="categories" value="Electro"> Electrodomesticos<br>
            <input type="checkbox" name="categories" value="Moda"> Moda<br>
            <input type="checkbox" name="categories" value="Hogar"> Hogar<br>
            <input type="checkbox" name="categories" value="Juguetería"> Juguetería<br>
            <input type="checkbox" name="categories" value="Vida Sana"> Vida Sana<br>

        <label>Foto de usuario:</label>
            <input type="file" name="avatar" accept=".jpg" multiple require><br>

            <input class="formList" type="password" name="password" placeholder="Contraseña:" require><br>
            <input class="formList" type="password" name="passwordConfirm" placeholder="Confirmar contraseña:" require><br>

        <input type="submit" value="Enviar">
        <input type="reset" value="Borrar todos los datos">

    </form>

    <div class="middleScreen">

        <h1>Registro de Usuario</h1>
        <a href="/"> <img src="/images/logo-mercado-liebre.svg" alt="logo"></a>

    </div>

</section> 

<footer>

    <section class="footerContainer">

        <div class="footerInfo">
            <i class="fa-solid fa-credit-card"></i>
            <h4>Pagá con tarjeta o en efectivo </h4>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro! </p>
        </div>

        <div class="footerInfo">
            <i class="fa-solid fa-gift"></i>
            <h4>Envío gratis desde $ 2.500 </h4>
            <p> Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos. </p>
        </div>
            
        <div class="footerInfo">
            <i class="fa-solid fa-user-shield"></i>
            <h4>Seguridad, de principio a fin </h4>
                <p> ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,porque estás siempre protegid@.</p>
        </div>

    </section>
 Copyright © 1999-2020 MercadoLiebre S.R.L.

    </footer>

</body>

</html>